#version '3.8'

services:
  garnet:
    image: ghcr.io/microsoft/garnet
    container_name: garnet
    environment:
      - TZ=Asia/Chongqing
    ports:
      - "6379:6379"
    deploy:
      resources:
        limits:
          memory: 2G
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "gateway.docker.internal:host-gateway"

  rabbit:
    image: ghcr.io/joesdu/rabbitmq-dlx:latest
    container_name: rabbit
    environment:
      - TZ=Asia/Chongqing
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=a123456
    ports:
      - "5672:5672"
      - "15672:15672"
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "gateway.docker.internal:host-gateway"

  aspire_dashboard:
    image: mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest
    container_name: aspire_dashboard
    environment:
      - TZ=Asia/Chongqing
      - DASHBOARD__OTLP__AUTHMODE=ApiKey
      - DASHBOARD__OTLP__PRIMARYAPIKEY=rVmuMdaqCEruWEbKANjmcIQMnKIhDiLUYSFHaZAVlMktmwDhMUAPIZyfizmoLuSwAePPVhhPigpJUIsAsPZcwfmaMnBxxRuxatrrHNSOKUxUVGFlYQtGtbqtOPasMvPd
      - DASHBOARD__TELEMETRYLIMITS__MAXLOGCOUNT=1000
      - DASHBOARD__TELEMETRYLIMITS__MAXTRACECOUNT=1000
      - DASHBOARD__TELEMETRYLIMITS__MAXMETRICSCOUNT=1000
    ports:
      - "18888:18888"
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "gateway.docker.internal:host-gateway"

  otel-collector:
    image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml:ro
    environment:
      - TZ=Asia/Chongqing
    ports:
      # - "1888:1888"   # pprof扩展
      # - "13133:13133" # health_check扩展
      # - "55679:55679" # zpages扩展
      # - "8888:8888"   # Collector公开的Prometheus指标
      # - "8889:8889"   # Prometheus导出器指标
      - "4317:4317" # OTLP gRPC接收器
      - "4318:4318" # OTLP http接收器
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "gateway.docker.internal:host-gateway"

  # MCP Context7 服务
  # context7:
  #   image: mcp/context7:latest
  #   container_name: context7
  #   environment:
  #     - TZ=Asia/Chongqing
  #   ports:
  #     - "8080:8080"

#  openobserve:
#    image: public.ecr.aws/zinclabs/openobserve:latest
#    container_name: openobserve
#    volumes:
#      - obdata:/data
#    environment:
#      - TZ=Asia/Chongqing
#      - ZO_DATA_DIR=/data
#      - ZO_ROOT_USER_EMAIL=root@exp.com
#      - ZO_ROOT_USER_PASSWORD=a123456
#    ports:
#      - "5080:5080"
#
#volumes:
#  obdata:
#    driver: local
#    driver_opts:
#      type: none
#      o: bind
#      device: ./obdata
