#version '3.8'

services:
  mongo_primary:
    image: bitnami/mongodb:latest
    container_name: mongo_primary
    environment:
      - TZ=Asia/Chongqing
      - MONGODB_ADVERTISED_HOSTNAME=host.docker.internal
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_REPLICA_SET_NAME=rs0
      - MONGODB_ROOT_USER=joe
      - MONGODB_ROOT_PASSWORD=a123456
      - MONGODB_REPLICA_SET_KEY=HxplckY2jXSwfDRE
    ports:
      - "27017:27017"
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "gateway.docker.internal:host-gateway"
    volumes:
      - "mongodb_master_data:/bitnami/mongodb"

  mongo_secondary:
    image: bitnami/mongodb:latest
    container_name: mongo_secondary
    depends_on:
      - mongo_primary
    environment:
      - TZ=Asia/Chongqing
      - MONGODB_ADVERTISED_HOSTNAME=host.docker.internal
      - MONGODB_REPLICA_SET_MODE=secondary
      - MONGODB_REPLICA_SET_NAME=rs0
      - MONGODB_INITIAL_PRIMARY_PORT_NUMBER=27017
      - MONGODB_INITIAL_PRIMARY_HOST=host.docker.internal
      - MONGODB_INITIAL_PRIMARY_ROOT_USER=joe
      - MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD=a123456
      - MONGODB_REPLICA_SET_KEY=HxplckY2jXSwfDRE
    ports:
      - "27018:27017"
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "gateway.docker.internal:host-gateway"

  mongo_arbiter:
    image: bitnami/mongodb:latest
    container_name: mongo_arbiter
    depends_on:
      - mongo_primary
    environment:
      - TZ=Asia/Chongqing
      - MONGODB_ADVERTISED_HOSTNAME=host.docker.internal
      - MONGODB_REPLICA_SET_MODE=arbiter
      - MONGODB_REPLICA_SET_NAME=rs0
      - MONGODB_INITIAL_PRIMARY_PORT_NUMBER=27017
      - MONGODB_INITIAL_PRIMARY_HOST=host.docker.internal
      - MONGODB_INITIAL_PRIMARY_ROOT_USER=joe
      - MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD=a123456
      - MONGODB_REPLICA_SET_KEY=HxplckY2jXSwfDRE
    ports:
      - "27019:27017"
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "gateway.docker.internal:host-gateway"

volumes:
  mongodb_master_data:
    driver: local
