name: Release

on:
  push:
    tags:
      - "*.*.*"
env:
  DOTNET_VERSION: "9.0.x"
jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: NUGET_ENV
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .Net SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Build and Test
        run: ./Build.ps1
        shell: pwsh
      - name: Push to NuGet
        env:
          NUGET_URL: ${{ vars.NUGET_URL }}
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: ./Push.ps1
        shell: pwsh
      # - name: Artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: artifacts
      #     path: artifacts/**/*
